
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
/sample/composeApp/.kcef/**
/sample/composeApp/cache/**
/sample/composeApp/kcef-bundle/**
